<md-dialog id="Dialog_CreateEntry"
  aria-label="Create Entry Form">
  <form name="createEntryForm"
    ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Entry</h2>
        <span flex></span>
        <md-button class="md-icon-button"
          ng-click="cancel()">
          <md-icon class="material-icons"
            aria-label="Close dialog">
            close
          </md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content"
        layout="column">
        <md-input-container>
          <label>Summary</label>
          <textarea name="entrySummary"
            ng-model="$data.Summary"
            rows="5"
            md-maxlength="255"
            md-autofocus
            md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container>
          <label>Date Occurred</label>
          <input name="transactionOccurred"
            ng-model="$data.Occurred"
            type="datetime-local">
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button class="md-primary"
        ng-click="answer()">
        Create Entry
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
