<!-- Journal Page -->
<div id="JournalPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- Journal Header -->
    <md-toolbar class="page-header">
      <div class="md-toolbar-tools">

        <!-- Journal Title -->
        <h1>{{ $journalPage.journal.Name }}</h1>

        <span flex></span>

        <md-menu class="journal-tools">
          <!-- trigger -->
          <md-button class="menu-toggle md-icon-button"
            aria-label="Open Settings"
            ng-click="openMenu($mdMenu.open, $event)">
            <md-icon class="material-icons">
              settings_cog
            </md-icon>
          </md-button>
          <!-- content -->
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="$journalPage.renameJournal($event)">
                <md-icon>edit</md-icon>
                Rename Journal
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="$journalPage.deleteJournal($event)">
                <md-icon>delete</md-icon>
                Delete Journal
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>

    <!-- Journal Content -->
    <main>

      <!-- Journal Entries Section -->
      <section class="entries">

        <!-- Journal Entries -->
        <ul class="entries">

          <!-- Entry -->
          <li ng-repeat="entry in $journalPage.journal.Entries | orderBy: 'Occurred'">
            <a ui-sref="app.user.entryPage({ entryId: entry.Id })"
              layout="row"
              flex>
              <pre class="entry-date-occurred">{{ entry.Occurred*1000 | date:'MM/dd' }}</pre>
              <pre class="entry-time-occurred">{{ entry.Occurred*1000 | date:'HH:mm:ss' }}</pre>
              <span class="entry-title">{{ entry.Summary }}</span>
            </a>
          </li>

        </ul>

        <!-- Section Footer -->
        <footer>

          <!-- Create A New Entry Button -->
          <md-button class="md-raised md-primary"
            ng-click="$journalPage.createEntry()">

            <!-- Icon -->
            <md-icon class="material-icons">
              create
            </md-icon>

            <!-- Text -->
            <span>Create a new entry</span>

          </md-button>

        </footer>

      </section>

    </main>

  </div>
</div>
