<!-- Journal Page -->
<div id="JournalPage"
  layout="row"
  flex>
  <div layout="column"
    flex>

    <!-- Journal Header -->
    <md-toolbar class="page-header">
      <div class="md-toolbar-tools">

        <!-- Journal Title -->
        <h1>{{ $journalPage.journal.Name }}</h1>

        <span flex></span>

        <!-- Create A New Transaction Button -->
        <md-button class="md-raised md-primary create-entry-button"
          ng-click="$journalPage.createEntry()">

          <!-- Icon -->
          <md-icon class="material-icons">
            add
          </md-icon>

          <!-- Text -->
          <span>Entry</span>

        </md-button>

        <md-menu class="journal-tools">
          <!-- trigger -->
          <md-button class="menu-toggle md-icon-button"
            aria-label="Open Settings"
            ng-click="openMenu($mdMenu.open, $event)">
            <md-icon class="material-icons">
              settings_cog
            </md-icon>
          </md-button>
          <!-- content -->
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="$journalPage.renameJournal($event)">
                <md-icon>edit</md-icon>
                Rename Journal
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="$journalPage.deleteJournal($event)">
                <md-icon>delete</md-icon>
                Delete Journal
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>

    <!-- Journal Content -->
    <main>

      <!-- Journal Entries Section -->
      <section class="entries">

        <!-- Journal Days -->
        <ul class="logbook-days">

          <!-- Day -->
          <li ng-repeat="day in $journalPage.days | orderBy: '-date'">
            <md-subheader>
              {{ day.date }}
            </md-subheader>

            <!-- Journal Entries -->
            <ul class="entries">

              <!-- Entry -->
              <li ng-repeat="entry in day.entries | orderBy: '-Occurred'">
                <a ui-sref="app.user.entryPage({ entryId: entry.Id })"
                  layout="row"
                  layout-align="start start"
                  flex>
                  <pre class="entry-time-occurred">{{ entry.Occurred*1000 | date:'HH:mm:ss' }}</pre>
                  <span class="entry-title">{{ entry.Summary }}</span>
                </a>
              </li>

            </ul>

          </li>

        </ul>

      </section>

    </main>

  </div>
</div>
